{{template "layout" .}} {{define "content"}}
<section
	class="container d-flex flex-column justify-content-center align-items-center"
>
	<h1>GET IN TOUCH</h1>
	<p id="error-message"></p>
	<form class="w-50">
		<div class="form-floating mb-3">
			<input
				type="text"
				class="form-control form-control-sm w-100 shadow"
				id="floatingInput"
				placeholder="name@example.com"
			/>
			<label for="floatingInput">Name</label>
		</div>
		<div class="form-floating mb-3">
			<input
				type="email"
				class="form-control shadow"
				id="floatingInput"
				placeholder="name@example.com"
			/>
			<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating mb-3">
			<input
				type="number"
				class="form-control shadow"
				id="floatingInput"
				placeholder="name@example.com"
			/>
			<label for="floatingInput">Phone Number</label>
		</div>
		<select class="form-select mb-3" aria-label="Default select example shadow">
			<option selected>Open this select menu</option>
			<option value="frontend">Frontend</option>
			<option value="backend">Backend</option>
			<option value="fullstack">Full Stack</option>
		</select>
		<div class="form-floating mb-3">
			<textarea
				class="form-control shadow"
				placeholder="Leave a comment here"
				id="floatingTextarea"
			></textarea>
			<label for="floatingTextarea">Your Message</label>
		</div>
		<button class="btn float-end">Submit</button>
	</form>
</section>
{{end}}
