{{template "layout" .}} {{define "content"}}
	<!-- content -->
	<section
		class="form-container d-flex flex-column align-items-center justify-content-center"
	>
		<h1>Update Project</h1>
		<p id="error-message"></p>
		<form action="/update-project/{{.Id}}" method="POST">
			<div class="form-floating mb-3">
				<input
					type="text"
					name="name"
					class="form-control shadow"
					id="floatingInput"
					placeholder="name@example.com"
					value="{{.Name}}"
				/>
				<label for="floatingInput">Project Name</label>
			</div>
			<div class="input-group mb-3 shadow">
				<span class="input-group-text">Start and End Date</span>
				<input
					type="date"
					name="start-date"
					value="{{.StringStartDate}}"
					aria-label="First name"
					class="form-control"
				/>
				<input
					type="date"
					name="end-date"
					value="{{.StringEndDate}}"
					aria-label="Last name"
					class="form-control"
				/>
			</div>
			<div class="form-floating mb-3">
				<textarea
					class="form-control shadow"
					name="description"
					placeholder="Leave a comment here"
					id="floatingTextarea"
				>{{.Description}}</textarea>
				<label for="floatingTextarea">Description</label>
			</div>
			<!-- CHECKBOX -->
			<div class="chekbox d-flex gap-5 mb-3">
				<div class="form-check form-check-inline">
					<input
						class="form-check-input shadow"
						type="checkbox"
						id="inlineCheckbox1"
						value="nodejs"
						name="checkbox"
					/>
					<label class="form-check-label" for="inlineCheckbox1"
						>Node JS</label
					>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input shadow"
						type="checkbox"
						id="inlineCheckbox2"
						value="reactjs"
						name="checkbox"
					/>
					<label class="form-check-label" for="inlineCheckbox2"
						>React JS</label
					>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input shadow"
						type="checkbox"
						id="inlineCheckbox2"
						value="nextjs"
						name="checkbox"
					/>
					<label class="form-check-label" for="inlineCheckbox2"
						>Next JS</label
					>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input shadow"
						type="checkbox"
						id="inlineCheckbox2"
						value="typescript"
						name="checkbox"
					/>
					<label class="form-check-label" for="inlineCheckbox2"
						>Typescript</label
					>
				</div>
			</div>
			<!-- IMAGE -->
			<div class="mb-3">
				<input class="form-control shadow" type="file" id="formFile" />
			</div>

			<button class="btn float-end">Update</button>
		</form>
	</section>
{{end}}
