{{ template "layout" . }} {{ define "content" }}
<section
	class="main-container container-xl w-75 d-flex flex-column gap-5 align-items-center justify-content-center"
>
	<h1 class="project-title text-dark fs-4 fw-bold align-self-start">
		{{.Name}}
	</h1>
	<div class="project-header d-flex gap-5 mb-5">
		<img
			src="{{.Image}}"
			alt=""
			class="project-thumbnail rounded"
			width="60%"
			height="100%"
		/>
		<div class="project-info w-75">
			<div class="top d-flex flex-column">
				<h2>Duration</h2>
				<ul class="list-style d-flex flex-column gap-3">
					<li class="list-group-item date-range-detail d-flex gap-2 h-50">
						<img
							src="/static/assets/icon/calendar.png"
							alt="calendar-icon"
							width="25px"
						/>
						{{.StringStartDate}} - {{.StringEndDate}}
					</li>
					<li class="list-group-item duration-detail d-flex gap-2">
						<img
							src="/static/assets/icon/clock.png"
							alt="clock-icon"
							width="25px"
						/>{{.Duration}}
					</li>
				</ul>
			</div>
			<div class="bottom">
				<h2>Technologies</h2>

				<ul class="list-style tech-list d-flex flex-column gap-3">
					{{range $tech := .Technologies}}
					<li class="list-group-item react-list d-flex gap-2">
						<img
							src="/static/assets/icon/{{$tech}}.png"
							alt="{{$tech}}-icon"
							width="25px"
						/>
						{{$tech}}
					</li>
					{{end}}
				</ul>
			</div>
		</div>
	</div>
	<div class="project-body align-self-start fs-5">
		<p>{{.Description}}</p>
	</div>
</section>
{{end}}
